TP1/Occupied.dtd

<!ELEMENT Parque (Estacionamento*)>

<!ELEMENT Estacionamento (Brand,Model,LicensePlate,Type,setor,lugar,estado,dia,hora,matricula,result)>

<!ELEMENT Brand(#PCDATA)>

<!ELEMENT Model(#PCDATA)>

<!ELEMENT LicensePlate(#PCDATA)>

<!ELEMENT Type(#PCDATA)>

<!ELEMENT setor (#PCDATA)>

<!ELEMENT lugar (#PCDATA)>

<!ELEMENT estado (#PCDATA)>

<!ELEMENT dia (#PCDATA)>

<!ELEMENT hora (#PCDATA)>

<!ELEMENT matricula (#PCDATA)>

<!ELEMENT result (#PCDATA)>

