TP1/Occupied.dtd

<!ELEMENT Parque (Estacionamento*)>

<!ELEMENT Estacionamento (setor,lugar,estado,dia,hora,matricula,result)>

<!ELEMENT setor (#PCDATA)>

<!ELEMENT lugar (#PCDATA)>

<!ELEMENT estado (#PCDATA)>

<!ELEMENT dia (#PCDATA)>

<!ELEMENT hora (#PCDATA)>

<!ELEMENT matricula (#PCDATA)>

<!ELEMENT result (#PCDATA)>

